<html>
  <head>
    <style>
      body {
        font-family: : Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <strong>OLá, {{ ad.author.name }}</strong>
    <p>Voce tem um nova solicitacao de compra para o anuncio {{ ad.title }}</p>
    <br>
    <strong> {{user.name }} ({{ user.email}}):</strong>
    <p>{{ content }}</p>
  </body>
</html>
